In [1]:
import pandas as pd
import sqlite3

In [3]:
#df_main = pd.read_csv("C://Users/CPS/Downloads/tutor_data - tutor_data.csv")
#df_send = pd.read_csv("C://Users/CPS/Documents/tutor_dummy_data/changes/tutor_data_grouped_ratings.csv")
db_path = 'C://Users/CPS/Documents/tutor_dummy_data/database/tutor_database.db'
conn = sqlite3.connect(db_path)

In [48]:
df_main.to_sql('tutor_data_main', conn, index=False)
df_send.to_sql('tutor_data_send', conn, index=False)

3514

In [50]:
pd.read_sql("select * from tutor_data_main where Name not in (select Name from tutor_data_send)", conn).shape[0]

1576

In [7]:
pd.read_sql("select count(distinct(State_code)) from tutor_data_main , conn)

SyntaxError: unterminated string literal (detected at line 1) (303055613.py, line 1)

In [ ]:
query = "SELECT * FROM tutor_data;"
result = pd.read_sql(query, conn)
print("Data in the 'tutor_data' table:")
print(result)

# Close the database connection
conn.close()