In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.read_csv("C://Users/CPS/Downloads/company details - company_details.csv")

In [4]:
df.head()

,id,org_name,about,domain_value,founder,employees,headquaters,founded,valid,Unnamed: 9
0,21909,Williamson Health,"Unfortunately, without current context, I cann...",NaN,NaN,NaN,NaN,NaN,no,Abhishek=1 to 500\nBrijendra=501 to 1000\nShiv...
1,21261,SSP,"A brief overview of the company's operations, ...",https://www.sspcompanywebsite.com,[Founder's Name],Number,"City, State",Year,no,NaN
2,23379,Epic Oncology Staffing,The company specializes in providing staffing ...,Not Available,Not Available,Not Available,Not Available,Not Available,partial,NaN
3,16449,Lee Company,"A brief overview of Lee Company's operations, ...",https://www.leecompany.com,John Doe,Number,"City, State",Year,no,NaN
4,10906,Michael Foods Inc.,Michael Foods Inc. is a food processor and dis...,http://www.michaelfoods.com,NaN,NaN,"Minnetonka, MN",1908,yes,NaN

In [5]:
df.columns

Index(['id', 'org_name', 'about', 'domain_value', 'founder', 'employees',
       'headquaters', 'founded', 'valid', 'Unnamed: 9'],
      dtype='object')

In [6]:
ready_data = df.drop(columns = ['id', 'org_name', 'domain_value', 'founder', 'employees',
       'headquaters', 'founded', 'Unnamed: 9'])

In [8]:
ready_data.shape

(3350, 2)

In [9]:
df1 = ready_data.iloc[:47]

In [10]:
df1.shape

(47, 2)

In [14]:
df1.head()

                                               about    valid
0  Unfortunately, without current context, I cann...       no
1  A brief overview of the company's operations, ...       no
2  The company specializes in providing staffing ...  partial
3  A brief overview of Lee Company's operations, ...       no
4  Michael Foods Inc. is a food processor and dis...      yes

In [18]:
df1['valid'] = df1['valid'].fillna('') #filling missing values if any
df1['about'] = df1['about'].fillna('')

C:\Users\CPS\AppData\Local\Temp\ipykernel_7804\2083685903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['valid'] = df1['valid'].fillna('') #filling missing values if any
C:\Users\CPS\AppData\Local\Temp\ipykernel_7804\2083685903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['about'] = df1['about'].fillna('')

In [20]:
df1.isnull().sum()
#---df1.isnull().sum().plot(kind = "bar")

about    0
valid    0
dtype: int64

In [22]:
# Split the dataset into training and test sets
train_texts, val_texts, train_labels, val_labels = train_test_split(df1['about'], df1['valid'], test_size=0.2, random_state=42)

# Encode the labels
label_encoder = LabelEncoder()
train_labels = label_encoder.fit_transform(train_labels)
val_labels = label_encoder.transform(val_labels)

# Initialize the TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=512)

# Fit and transform the training texts
train_encodings = vectorizer.fit_transform(train_texts)

# Transform the validation texts
val_encodings = vectorizer.transform(val_texts)

NameError: name 'train_test_split' is not defined

In [21]:
train_texts.count()

NameError: name 'train_texts' is not defined

In [34]:
from sklearn.metrics import accuracy_score
#Initialize the classifier
classifier = LogisticRegression(max_iter=1000)

# Train the classifier
classifier.fit(train_encodings, train_labels)

# Predict on the validation set
val_predictions = classifier.predict(val_encodings)

# Calculate accuracy
accuracy = accuracy_score(val_labels, val_predictions)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.6000

In [37]:
from sklearn.svm import SVC
# Initialize the SVM classifier
svm_classifier = SVC(kernel='linear', C=1.0, probability=True, random_state=42)

# Train the SVM classifier
svm_classifier.fit(train_encodings, train_labels)

# Predict on the validation set
val_predictions = svm_classifier.predict(val_encodings)

# Calculate accuracy
accuracy = accuracy_score(val_labels, val_predictions)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.6000

In [40]:
# Handle NaN values by filling with an empty string (or any suitable preprocessing)
df['about'] = df['about'].fillna('')

# Separate data with missing and existing 'valid' labels
missing_data = df[df['valid'].isnull()]
existing_data = df.dropna(subset=['valid'])

# Initialize the TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=512)

# Fit and transform the existing 'about' texts
existing_encodings = vectorizer.fit_transform(existing_data['about'])

# Transform the missing 'about' texts
missing_encodings = vectorizer.transform(missing_data['about'])

# Initialize the SVM classifier (you can use the same model trained earlier)
svm_classifier = SVC(kernel='linear', C=1.0, probability=True, random_state=42)

# Train the SVM classifier on existing data
svm_classifier.fit(existing_encodings, existing_data['valid'])

# Predict on the missing data (ensure no NaN values are passed)
missing_predictions = svm_classifier.predict(missing_encodings)

# Update the DataFrame with predicted 'valid' values
df.loc[df['valid'].isnull(), 'valid'] = missing_predictions

# Print the updated DataFrame with predicted 'valid' values filled
df.head()

         id                      org_name  \
0     21909             Williamson Health
1     21261                           SSP
2     23379        Epic Oncology Staffing
3     16449                   Lee Company
4     10906            Michael Foods Inc.
...     ...                           ...
3345  24112        Residence Inn San Jose
3346  17925      Tiger Mountain Dentistry
3347  23954  Bell Audi - Sales Department
3348    246            NYU Langone Health
3349  20989    Mauser Packaging Solutions

                                                  about  \
0     Unfortunately, without current context, I cann...
1     A brief overview of the company's operations, ...
2     The company specializes in providing staffing ...
3     A brief overview of Lee Company's operations, ...
4     Michael Foods Inc. is a food processor and dis...
...                                                 ...
3345  Residence Inn San Canada is an extended stay h...
3346  Tiger Mountain Dentistry is a dental practice ...
3347  Bell Audi's Sales Department specializes in th...
3348  NYU Langone Health is a premier academic medic...
3349  Mauser Packaging Solutions offers a comprehens...

                           domain_value                    founder  \
0                                   NaN                        NaN
1     https://www.sspcompanywebsite.com           [Founder's Name]
2                         Not Available              Not Available
3            https://www.leecompany.com                   John Doe
4           http://www.michaelfoods.com                        NaN
...                                 ...                        ...
3345                                NaN                Jack DeBoer
3346          Information Not Available  Information Not Available
3347                                NaN                        NaN
3348            https://nyulangone.org/             Not applicable
3349    https://www.mauserpackaging.com                    Unknown

                      employees                headquaters  \
0                           NaN                        NaN
1                        Number                City, State
2                 Not Available              Not Available
3                        Number                City, State
4                           NaN             Minnetonka, MN
...                         ...                        ...
3345         Varies by location       San Jose, California
3346  Information Not Available  Information Not Available
3347                        NaN                 Edison, NJ
3348                    Unknown               New York, NY
3349                    Unknown              Oak Brook, IL

                        founded    valid  \
0                           NaN       no
1                          Year       no
2                 Not Available  partial
3                          Year       no
4                          1908      yes
...                         ...      ...
3345                       1975      yes
3346  Information Not Available      Yes
3347                        NaN      Yes
3348                       1841      Yes
3349                       2018      yes

                                             Unnamed: 9
0     Abhishek=1 to 500\nBrijendra=501 to 1000\nShiv...
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3345                                                NaN
3346                                                NaN
3347                                                NaN
3348                                                NaN
3349                                                NaN

[3350 rows x 10 columns]

In [43]:
df.to_csv("C://Users/CPS/Documents/data.csv")

In [25]:
import pandas as pd

l1 = [1,2,3,4,5]
def dou(n):
    if n % 2 == 0:
        return n + n
    else:
        return n
result = list(map(dou, l1))
print(result)

[1, 4, 3, 8, 5]